<div class="container-fluid container-md">
  <!--  <h1 class="mt-4 text-center">Data Visualization Image</h1>-->
  <div class="row justify-content-center ">
    <div>
      <a href="https://podio.com/site/creative-routines" target="_blank">
        <img src="/assets/full_embed.png" alt="Daily routines of famous creative people" width="600" height="1049"/>
      </a><br/>
      <span style="font-size: 12px;">
        Click image to see the interactive version (via <a href="https://podio.com/">Podio</a>).<br>
        Disclaimer: The above info doesn't characterize the entire life of each person but a specific period of time as <br>
        recorded in diaries, letters and other documentation.   <br>
        Sources: Daily Rituals: How Artists Work by Mason Currey, Daily Routines blog and other academic studies.
      </span>
    </div>
  </div>
  <div class="row justify-content-center pt-5 offset-3 col-6">
    <p>The main reason that I chose the above data visualization image is that I found a lot similarities with the
      images discussed in the second lecture. Which is that you can with a glance deduct the point that the image is
      transiting while not overwhelming the spectator with information, but it still is rich with information that we
      can drill down down if we wish to. Also it was interesting to see that people who we assume that are similar to
      some aspects can have a very dissimilar ways to go about their day to day life.
    </p>
  </div>
</div>
