<div class="container-fluid container-md">
  <h1 class="mt-4 text-center">Simple Introduction</h1>
  <div class="row mt-3">
    <div class="col">
      <img class="rounded-corners" src="../../../assets/depositphotos_9883921-stock-illustration-no-user-profile-picture.jpg" alt="profile picture">
    </div>
    <div class="col">
      <p>Hi! My name is Giannis Balasis I am currently in my 3rd year in the post graduate program Computer Science
        (Data, Information and Knowledge Management). I attend the postgraduate program part time because I work as a
        Web developer at the same time. My bachelor degree is also in Computer Science at the Department of Informatics
        and Telecommunications.
      </p>
      <p>In my free time I enjoy watching movies and series, which I had plenty of time to catch up due to the
        coronavirus quarantine. As for "outdoor" activities I have taken up as hobby for the past five years playing
        table tennis but unfortunately due the restrictions of the quarantine there are no places available to practice.
      </p>
    </div>
  </div>
</div>
