<div class="container-fluid container-md">
  <h1 class="mt-4 text-center">Simple Introduction</h1>
  <div class="row">
    <div class="col">
      <img src="../../../assets/depositphotos_9883921-stock-illustration-no-user-profile-picture.jpg" alt="profile picture">
    </div>
    <div class="col">
      <p>Hi! My name is Giannis Balasis I am currently in my 3rd year in the post graduate program Computer Science
        (Data, Information and Knowledge Management). I attend the postgraduate program part time because I work as a
        Web developer at the same time. My bachelor degree is also in Computer Science at the Department of Informatics
        and Telecommunications. </p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional,
        and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the
        menu when clicked.</p>
    </div>
  </div>
</div>
