<div class="d-flex " [ngClass]="{'toggled': toggled}" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> M126 </div>
    <div class="list-group list-group-flush">
      <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="/dataVis" class="list-group-item list-group-item-action bg-light">Visualization image</a>
      <a routerLink="/svg" class="list-group-item list-group-item-action bg-light">SVG</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Credits</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="this.toggled = !this.toggled">Toggle Menu</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/jBalasis/simpleWebPage"><fa-icon [icon]="git"></fa-icon> Source code</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Find me via
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><fa-icon [icon]="twitter"></fa-icon> Twitter</a>
              <a class="dropdown-item" href="#"><fa-icon [icon]="fb"></fa-icon> Facebook</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="mailto:cs2180008@di.uoa.gr"><fa-icon [icon]="email"></fa-icon> email</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; A Simple Website</small>
  </div>
</footer>
